
.content{
	width: 100%;
	height: 100%;
}
.main{
	margin-left: 5%;
	margin-right: 5%;
	height: 60%;
}
.topbanner{
	width: 100%;
	font-size: 0; 
}
.topbanner image{
	width: 100%;
	padding: 0;
	margin: 0;
}
.swipertxt{
	padding: 0;
	margin: 0;
	color: #999999;
	font-size: 20rpx;
	margin-bottom: 20rpx;
	border-radius: 30rpx;
	background-color: white;
	z-index: 999;
	position: relative;
	top: -20rpx;
	padding-top: 20rpx;
	padding-left: 8%;
}
.swipertxt text{
	float: left;
	line-height: 30rpx;
	font-size: 20rpx;
	padding-left: 15rpx;
	padding-right: 15rpx;
	border: 1px solid #F08C90;
	background-color: #FDECEC;
	border-radius: 20rpx;
	color: red;
	margin-top: 10rpx;
}
swiper-item{
	width: 80%;
}
swiper-item image{
	width: 84%;
	height: 100%;
	border-radius: 8rpx;
}
.row1,.row2,.row3{
	display: flex;
	flex-direction: row;
	height: 25%;
}
.signin,.communityNotice,.repairRecord{
	width: 50%;
	height: 100%;
	position: relative;
	margin-right: 4%;
}
.visitor,.vote,.complaints{
	width: 50%;
	height: 100%;
	position: relative;
}
.signin image:first-child,.visitor image:first-child,.communityNotice image:first-child,
.vote image:first-child,.repairRecord image:first-child,.complaints image:first-child{
	width: 100%;
	height: 100%;
}
.signin image:last-child,.visitor image:last-child,.communityNotice image:last-child,
.vote image:last-child,.repairRecord image:last-child,.complaints image:last-child{
	margin-left: 15rpx;
	width: 20rpx;
	height: 20rpx;
}
.signin view,.visitor view,.communityNotice view,
.vote view,.repairRecord view,.complaints view{
	position: absolute;
	top: 38%;
	left: 18%;
}