<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isstech.isstechadmin.mapper.TSpecialDrugAddictsMapper">

    <resultMap type="TSpecialDrugAddicts" id="TSpecialDrugAddictsResult">
        <result property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="deptId" column="dept_id"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateDeptId" column="update_dept_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="personnelId" column="personnel_id"/>
        <result property="sourceType" column="source_type"/>
        <result property="enable" column="enable"/>
        <result property="remark" column="remark"/>
        <result property="firstFindTime" column="first_find_time"/>
        <result property="controllerSituation" column="controller_situation"/>
        <result property="controllerName" column="controller_name"/>
        <result property="controllerTel" column="controller_tel"/>
        <result property="helpSituation" column="help_situation"/>
        <result property="helpName" column="help_name"/>
        <result property="helpPhone" column="help_phone"/>
        <result property="isCrimeHistory" column="is_crime_history"/>
        <result property="crimeSituation" column="crime_situation"/>
        <result property="firstSuckDate" column="first_suck_date"/>
        <result property="sourceMark" column="source_mark"/>
        <result property="vsituation" column="vsituation"/>
        <result property="drugCause" column="drug_cause"/>
        <result property="drugResult" column="drug_result"/>
        <result property="communityId" column="community_id"/>
        <result property="communityChildId" column="community_child_id"/>
    </resultMap>

    <select id="selectUuid" resultType="String">
        select uuid()
    </select>

    <sql id="selectTSpecialDrugAddictsVo">
        select id, create_by, create_time, dept_id, update_by, update_dept_id, update_time, del_flag, personnel_id, source_type, enable, remark, first_find_time, controller_situation, controller_name, controller_tel, help_situation, help_name, help_phone, is_crime_history, crime_situation, first_suck_date, source_mark, vsituation, drug_cause, drug_result, community_id, community_child_id from t_special_drug_addicts
    </sql>

    <select id="selectTSpecialDrugAddictsList" parameterType="TSpecialDrugAddicts"
            resultMap="TSpecialDrugAddictsResult">
        <include refid="selectTSpecialDrugAddictsVo"/>
        <where>
            del_flag = '0'
            <if test="createBy != null  and createBy != ''">and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''">and update_by = #{updateBy}</if>
            <if test="personnelId != null  and personnelId != ''">and personnel_id = #{personnelId}</if>
            <if test="sourceType != null  and sourceType != ''">and source_type = #{sourceType}</if>
            <if test="enable != null  and enable != ''">and enable = #{enable}</if>
            <if test="remark != null  and remark != ''">and remark = #{remark}</if>
            <if test="firstFindTime != null ">and first_find_time = #{firstFindTime}</if>
            <if test="controllerSituation != null  and controllerSituation != ''">and controller_situation =
                #{controllerSituation}
            </if>
            <if test="controllerName != null  and controllerName != ''">and controller_name like concat('%',
                #{controllerName}, '%')
            </if>
            <if test="controllerTel != null  and controllerTel != ''">and controller_tel = #{controllerTel}</if>
            <if test="helpSituation != null  and helpSituation != ''">and help_situation = #{helpSituation}</if>
            <if test="helpName != null  and helpName != ''">and help_name like concat('%', #{helpName}, '%')</if>
            <if test="helpPhone != null  and helpPhone != ''">and help_phone = #{helpPhone}</if>
            <if test="isCrimeHistory != null  and isCrimeHistory != ''">and is_crime_history = #{isCrimeHistory}</if>
            <if test="crimeSituation != null  and crimeSituation != ''">and crime_situation = #{crimeSituation}</if>
            <if test="firstSuckDate != null ">and first_suck_date = #{firstSuckDate}</if>
            <if test="sourceMark != null  and sourceMark != ''">and source_mark = #{sourceMark}</if>
            <if test="vsituation != null  and vsituation != ''">and vsituation = #{vsituation}</if>
            <if test="drugCause != null  and drugCause != ''">and drug_cause = #{drugCause}</if>
            <if test="drugResult != null  and drugResult != ''">and drug_result = #{drugResult}</if>
            <if test="communityId != null  and communityId != ''">and community_id = #{communityId}</if>
            <if test="communityChildId != null  and communityChildId != ''">and community_child_id =
                #{communityChildId}
            </if>
            <if test="isAllDataAccess !=null and !isAllDataAccess and dataAccessList !=null and dataAccessList.size > 0">
                <if test="communityId == null  or communityId == ''">
                    and community_id in
                    <foreach item="dataAccess" collection="dataAccessList" open="(" separator="," close=")">
                        #{dataAccess.communityId}
                    </foreach>
                </if>
            </if>
            <if test="isAllDataAccess !=null and !isAllDataAccess and dataAccessList !=null and dataAccessList.size > 0">
                <if test="communityChildId == null  or communityChildId == ''">
                    and community_child_id in
                    <foreach item="dataAccess" collection="dataAccessList" open="(" separator="," close=")">
                        #{dataAccess.communityChildId}
                    </foreach>
                </if>
            </if>
        </where>
    </select>

    <select id="selectTSpecialDrugAddictsById" parameterType="String" resultMap="TSpecialDrugAddictsResult">
        <include refid="selectTSpecialDrugAddictsVo"/>
        where id = #{id} and del_flag = '0'
    </select>

    <insert id="insertTSpecialDrugAddicts" parameterType="TSpecialDrugAddicts">
        insert into t_special_drug_addicts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateDeptId != null">update_dept_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="personnelId != null and personnelId != ''">personnel_id,</if>
            <if test="sourceType != null">source_type,</if>
            <if test="enable != null and enable != ''">enable,</if>
            <if test="remark != null">remark,</if>
            <if test="firstFindTime != null">first_find_time,</if>
            <if test="controllerSituation != null and controllerSituation != ''">controller_situation,</if>
            <if test="controllerName != null and controllerName != ''">controller_name,</if>
            <if test="controllerTel != null and controllerTel != ''">controller_tel,</if>
            <if test="helpSituation != null">help_situation,</if>
            <if test="helpName != null and helpName != ''">help_name,</if>
            <if test="helpPhone != null and helpPhone != ''">help_phone,</if>
            <if test="isCrimeHistory != null">is_crime_history,</if>
            <if test="crimeSituation != null">crime_situation,</if>
            <if test="firstSuckDate != null">first_suck_date,</if>
            <if test="sourceMark != null">source_mark,</if>
            <if test="vsituation != null">vsituation,</if>
            <if test="drugCause != null">drug_cause,</if>
            <if test="drugResult != null">drug_result,</if>
            <if test="communityId != null">community_id,</if>
            <if test="communityChildId != null">community_child_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateDeptId != null">#{updateDeptId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="personnelId != null and personnelId != ''">#{personnelId},</if>
            <if test="sourceType != null">#{sourceType},</if>
            <if test="enable != null and enable != ''">#{enable},</if>
            <if test="remark != null">#{remark},</if>
            <if test="firstFindTime != null">#{firstFindTime},</if>
            <if test="controllerSituation != null and controllerSituation != ''">#{controllerSituation},</if>
            <if test="controllerName != null and controllerName != ''">#{controllerName},</if>
            <if test="controllerTel != null and controllerTel != ''">#{controllerTel},</if>
            <if test="helpSituation != null">#{helpSituation},</if>
            <if test="helpName != null and helpName != ''">#{helpName},</if>
            <if test="helpPhone != null and helpPhone != ''">#{helpPhone},</if>
            <if test="isCrimeHistory != null">#{isCrimeHistory},</if>
            <if test="crimeSituation != null">#{crimeSituation},</if>
            <if test="firstSuckDate != null">#{firstSuckDate},</if>
            <if test="sourceMark != null">#{sourceMark},</if>
            <if test="vsituation != null">#{vsituation},</if>
            <if test="drugCause != null">#{drugCause},</if>
            <if test="drugResult != null">#{drugResult},</if>
            <if test="communityId != null">#{communityId},</if>
            <if test="communityChildId != null">#{communityChildId},</if>
        </trim>
    </insert>

    <update id="updateTSpecialDrugAddicts" parameterType="TSpecialDrugAddicts">
        update t_special_drug_addicts
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateDeptId != null">update_dept_id = #{updateDeptId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="personnelId != null and personnelId != ''">personnel_id = #{personnelId},</if>
            <if test="sourceType != null">source_type = #{sourceType},</if>
            <if test="enable != null and enable != ''">enable = #{enable},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="firstFindTime != null">first_find_time = #{firstFindTime},</if>
            <if test="controllerSituation != null and controllerSituation != ''">controller_situation =
                #{controllerSituation},
            </if>
            <if test="controllerName != null and controllerName != ''">controller_name = #{controllerName},</if>
            <if test="controllerTel != null and controllerTel != ''">controller_tel = #{controllerTel},</if>
            <if test="helpSituation != null">help_situation = #{helpSituation},</if>
            <if test="helpName != null and helpName != ''">help_name = #{helpName},</if>
            <if test="helpPhone != null and helpPhone != ''">help_phone = #{helpPhone},</if>
            <if test="isCrimeHistory != null">is_crime_history = #{isCrimeHistory},</if>
            <if test="crimeSituation != null">crime_situation = #{crimeSituation},</if>
            <if test="firstSuckDate != null">first_suck_date = #{firstSuckDate},</if>
            <if test="sourceMark != null">source_mark = #{sourceMark},</if>
            <if test="vsituation != null">vsituation = #{vsituation},</if>
            <if test="drugCause != null">drug_cause = #{drugCause},</if>
            <if test="drugResult != null">drug_result = #{drugResult},</if>
            <if test="communityId != null">community_id = #{communityId},</if>
            <if test="communityChildId != null">community_child_id = #{communityChildId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTSpecialDrugAddictsById" parameterType="String">
        delete from t_special_drug_addicts where id = #{id}
    </delete>

    <delete id="deleteTSpecialDrugAddictsByIds" parameterType="String">
        delete from t_special_drug_addicts where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateTSpecialDrugAddictsByIds" parameterType="String">
        update t_special_drug_addicts set del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateTSpecialDrugAddictsByPersonIds" parameterType="String">
        update t_special_drug_addicts set del_flag = '1'  where personnel_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>