<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isstech.isstechadmin.mapper.BaseVisitorPersonnelInformationMapper">

    <resultMap type="BaseVisitorPersonnelInformation" id="BaseVisitorPersonnelInformationResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="identificationNumber" column="identification_number"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="sex" column="sex"/>
        <result property="special" column="special"/>
        <result property="limited" column="limited"/>
        <result property="caring" column="caring"/>
        <result property="pics" column="pics"/>
        <result property="checked" column="checked"/>
        <result property="checkedPersonId" column="checked_person_id"/>
        <result property="checkedPersonName" column="checked_person_name"/>
        <result property="checkedTime" column="checked_time"/>
        <result property="targetPersonId" column="target_person_id"/>
        <result property="targetPersonName" column="target_person_name"/>
        <result property="targetPersonCommunityId" column="target_person_community_id"/>
        <result property="targetPersonCommunityChildId" column="target_person_community_child_id"/>
        <result property="targetPersonHouseId" column="target_person_house_id"/>
        <result property="targetPersonHouseAddress" column="target_person_house_address"/>
        <result property="visitStartTime" column="visit_start_time"/>
        <result property="visitEndTime" column="visit_end_time"/>
        <result property="visitorPicPermit" column="visitor_pic_permit"/>
    </resultMap>

    <sql id="selectBaseVisitorPersonnelInformationVo">
        select id, name, create_by, create_time, update_by, update_time, del_flag, identification_number, phone_number, sex, special, limited, caring, pics, checked, checked_person_id, checked_person_name, checked_time, target_person_id, target_person_name, target_person_community_id, target_person_community_child_id, target_person_house_id, target_person_house_address, visit_start_time, visit_end_time, visitor_pic_permit from base_visitor_personnel_information
    </sql>

    <select id="selectBaseVisitorPersonnelInformationList" parameterType="BaseVisitorPersonnelInformation"
            resultMap="BaseVisitorPersonnelInformationResult">
        <include refid="selectBaseVisitorPersonnelInformationVo"/>
        <where>
                del_flag = '0'
            <if test="name != null  and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="identificationNumber != null  and identificationNumber != ''">
                and identification_number like concat('%', #{identificationNumber}, '%')
            </if>
            <if test="phoneNumber != null  and phoneNumber != ''">
                and phone_number like concat('%', #{phoneNumber}, '%')
            </if>
            <if test="sex != null  and sex != ''">
                and sex = #{sex}
            </if>
            <if test="checked != null  and checked != ''">
                and checked = #{checked}
            </if>
            <if test="checkedPersonName != null  and checkedPersonName != ''">
                and checked_person_name like concat('%', #{checkedPersonName}, '%')
            </if>
            <if test="targetPersonName != null  and targetPersonName != ''">
                and target_person_name like concat('%', #{targetPersonName}, '%')
            </if>
            <if test="targetPersonCommunityId != null  and targetPersonCommunityId != ''">
                and target_person_community_id = #{targetPersonCommunityId}
            </if>
            <if test="targetPersonCommunityChildId != null  and targetPersonCommunityChildId != ''">
                and target_person_community_child_id = #{targetPersonCommunityChildId}
            </if>
            <if test="targetPersonHouseId != null  and targetPersonHouseId != ''">
                and target_person_house_id = #{targetPersonHouseId}
            </if>
            <if test="targetPersonHouseAddress != null  and targetPersonHouseAddress != ''">
                and target_person_house_address like concat('%', #{targetPersonHouseAddress}, '%')
            </if>
            <if test="visitStartTime != null ">
                and visit_start_time &gt;= #{visitStartTime}
            </if>
            <if test="visitEndTime != null ">
                and visit_end_time &lt;= #{visitEndTime}
            </if>
            <if test="visitorPicPermit != null  and visitorPicPermit != ''">
                and visitor_pic_permit = #{visitorPicPermit}
            </if>
            <if test="isAllDataAccess !=null and !isAllDataAccess and dataAccessList !=null and dataAccessList.size > 0">
                <if test="targetPersonCommunityId == null  or targetPersonCommunityId == ''">
                    and target_person_community_id in
                    <foreach item="dataAccess" collection="dataAccessList" open="(" separator="," close=")">
                        #{dataAccess.communityId}
                    </foreach>
                </if>
                <if test="targetPersonCommunityChildId == null  or targetPersonCommunityChildId == ''">
                    and target_person_community_child_id in
                    <foreach item="dataAccess" collection="dataAccessList" open="(" separator="," close=")">
                        #{dataAccess.communityChildId}
                    </foreach>
                </if>
            </if>
        </where>
    </select>

    <select id="selectBaseVisitorPersonnelInformationById" parameterType="String"
            resultMap="BaseVisitorPersonnelInformationResult">
        <include refid="selectBaseVisitorPersonnelInformationVo"/>
        where id = #{id}
    </select>

    <insert id="insertBaseVisitorPersonnelInformation" parameterType="BaseVisitorPersonnelInformation">
        insert into base_visitor_personnel_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="id != null">id,
            </if>
            <if test="name != null">name,
            </if>
            <if test="createBy != null">create_by,
            </if>
            <if test="createTime != null">create_time,
            </if>
            <if test="updateBy != null">update_by,
            </if>
            <if test="updateTime != null">update_time,
            </if>
            <if test="delFlag != null and delFlag != ''">del_flag,
            </if>
            <if test="identificationNumber != null">identification_number,
            </if>
            <if test="phoneNumber != null">phone_number,
            </if>
            <if test="sex != null">sex,
            </if>
            <if test="special != null">special,
            </if>
            <if test="limited != null">limited,
            </if>
            <if test="caring != null">caring,
            </if>
            <if test="pics != null">pics,
            </if>
            <if test="checked != null">checked,
            </if>
            <if test="checkedPersonId != null">checked_person_id,
            </if>
            <if test="checkedPersonName != null">checked_person_name,
            </if>
            <if test="checkedTime != null">checked_time,
            </if>
            <if test="targetPersonId != null">target_person_id,
            </if>
            <if test="targetPersonName != null">target_person_name,
            </if>
            <if test="targetPersonCommunityId != null">target_person_community_id,
            </if>
            <if test="targetPersonCommunityChildId != null">target_person_community_child_id,
            </if>
            <if test="targetPersonHouseId != null">target_person_house_id,
            </if>
            <if test="targetPersonHouseAddress != null">target_person_house_address,
            </if>
            <if test="visitStartTime != null">visit_start_time,
            </if>
            <if test="visitEndTime != null">visit_end_time,
            </if>
            <if test="visitorPicPermit != null">visitor_pic_permit,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            uuid(),
            <if test="id != null">#{id},
            </if>
            <if test="name != null">#{name},
            </if>
            <if test="createBy != null">#{createBy},
            </if>
            <if test="createTime != null">#{createTime},
            </if>
            <if test="updateBy != null">#{updateBy},
            </if>
            <if test="updateTime != null">#{updateTime},
            </if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},
            </if>
            <if test="identificationNumber != null">#{identificationNumber},
            </if>
            <if test="phoneNumber != null">#{phoneNumber},
            </if>
            <if test="sex != null">#{sex},
            </if>
            <if test="special != null">#{special},
            </if>
            <if test="limited != null">#{limited},
            </if>
            <if test="caring != null">#{caring},
            </if>
            <if test="pics != null">#{pics},
            </if>
            <if test="checked != null">#{checked},
            </if>
            <if test="checkedPersonId != null">#{checkedPersonId},
            </if>
            <if test="checkedPersonName != null">#{checkedPersonName},
            </if>
            <if test="checkedTime != null">#{checkedTime},
            </if>
            <if test="targetPersonId != null">#{targetPersonId},
            </if>
            <if test="targetPersonName != null">#{targetPersonName},
            </if>
            <if test="targetPersonCommunityId != null">#{targetPersonCommunityId},
            </if>
            <if test="targetPersonCommunityChildId != null">#{targetPersonCommunityChildId},
            </if>
            <if test="targetPersonHouseId != null">#{targetPersonHouseId},
            </if>
            <if test="targetPersonHouseAddress != null">#{targetPersonHouseAddress},
            </if>
            <if test="visitStartTime != null">#{visitStartTime},
            </if>
            <if test="visitEndTime != null">#{visitEndTime},
            </if>
            <if test="visitorPicPermit != null">#{visitorPicPermit},
            </if>
        </trim>
    </insert>

    <update id="updateBaseVisitorPersonnelInformation" parameterType="BaseVisitorPersonnelInformation">
        update base_visitor_personnel_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name =
                #{name},
            </if>
            <if test="createBy != null">create_by =
                #{createBy},
            </if>
            <if test="createTime != null">create_time =
                #{createTime},
            </if>
            <if test="updateBy != null">update_by =
                #{updateBy},
            </if>
            <if test="updateTime != null">update_time =
                #{updateTime},
            </if>
            <if test="delFlag != null and delFlag != ''">del_flag =
                #{delFlag},
            </if>
            <if test="identificationNumber != null">identification_number =
                #{identificationNumber},
            </if>
            <if test="phoneNumber != null">phone_number =
                #{phoneNumber},
            </if>
            <if test="sex != null">sex =
                #{sex},
            </if>
            <if test="special != null">special =
                #{special},
            </if>
            <if test="limited != null">limited =
                #{limited},
            </if>
            <if test="caring != null">caring =
                #{caring},
            </if>
            <if test="pics != null">pics =
                #{pics},
            </if>
            <if test="checked != null">checked =
                #{checked},
            </if>
            <if test="checkedPersonId != null">checked_person_id =
                #{checkedPersonId},
            </if>
            <if test="checkedPersonName != null">checked_person_name =
                #{checkedPersonName},
            </if>
            <if test="checkedTime != null">checked_time =
                #{checkedTime},
            </if>
            <if test="targetPersonId != null">target_person_id =
                #{targetPersonId},
            </if>
            <if test="targetPersonName != null">target_person_name =
                #{targetPersonName},
            </if>
            <if test="targetPersonCommunityId != null">target_person_community_id =
                #{targetPersonCommunityId},
            </if>
            <if test="targetPersonCommunityChildId != null">target_person_community_child_id =
                #{targetPersonCommunityChildId},
            </if>
            <if test="targetPersonHouseId != null">target_person_house_id =
                #{targetPersonHouseId},
            </if>
            <if test="targetPersonHouseAddress != null">target_person_house_address =
                #{targetPersonHouseAddress},
            </if>
            <if test="visitStartTime != null">visit_start_time =
                #{visitStartTime},
            </if>
            <if test="visitEndTime != null">visit_end_time =
                #{visitEndTime},
            </if>
            <if test="visitorPicPermit != null">visitor_pic_permit =
                #{visitorPicPermit},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBaseVisitorPersonnelInformationById" parameterType="String">
        delete from base_visitor_personnel_information where id = #{id}
    </delete>

    <delete id="deleteBaseVisitorPersonnelInformationByIds" parameterType="String">
        delete from base_visitor_personnel_information where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateBaseVisitorPersonnelInformationByIds" parameterType="String">
        update base_visitor_personnel_information set del_flag = '1'  where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>